.gallery {
    margin-top: 10px;
    margin-bottom: 25px;
    background: #0F0E11;
    
}

.gallery-cell {
    width: 25%;
    min-height: 300px;
    margin-right: 50px;
    background-position: center;
    background-size: cover;

    border-radius: 25px;
    border-style: solid;
    border-color: #0F0E11;
    border-color: #EEEBE0;

    transition: border-color 0.5s;
}

.gallery-cell:hover {
    border-color: #BB3030;
    
}

.gallery a {
    text-align: center;
    text-decoration: none;
    color: #EEEBE0;
}

.gallery a div {
    min-height: 50px;
    font-size: 250%;
    background-color: #0F0E11;
    border-radius: 20px 20px 0 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flickity-page-dots {
    position: relative;
}

.flickity-page-dots .dot{
    background-color: #EEEBE0;
    transition: transform 0.5s;
}

.flickity-page-dots .dot:hover{
    transform: scale(2);
}

.flickity-prev-next-button {
    width: 50px;
    height: 50px;
    color: #EEEBE0;
    background-color: #2D2C33;

    border-style: solid;
    border-color: #EEEBE0;

    transition: color 0.5s, width 0.5s, height 0.5s, border-color 0.5s;
}

.flickity-prev-next-button:hover {
    width: 75px;
    height: 75px;
    background-color: #2D2C33;
    border-style: solid;
    border-color: #BB3030;

    color: #BB3030;
}

#cell1 {
    background-image: url('Website Visuals/Bouncy-Ball-1.png');
}