#footer {
    background-color: #2D2C33;
    color: #EEEBE0;
    height: 50px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

#footer .footerelements{
    display: flex;
    text-align: center;
}

#footer .externalnavbar {
    margin-left: auto;
    margin-right: 30px;
}

#footer img {
    margin-top: 10px;
    border-radius: 50%;
    border-style: solid;
    border-color:#2D2C33;
    width: 25px;

    transition: border-color 0.5s, transform 0.5s;
}

#footer img:hover {
    border-color:#EEEBE0;
    transform: scale(1.5);
}

#footer a {
    text-decoration: none;
    padding-right: 10px;
}

#footer button {
    margin-top: 7.5px;
    margin-bottom: auto;
    margin-left: 35px;
    width: 150px;
    height: 34px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    border: none;
    border-radius: 10px;
    background-color: #EEEBE0;

    transition: background-color 0.5s, transform 0.5s, color 0.5s;
}

#footer button:hover {
    background-color: #BB3030;
    color: #EEEBE0;
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    #footer .externalnavbar {
        margin-right: 0px;
    }

    #footer button {
        margin-left: 10px;
    }
}