html {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0F0E11;
    color: #EEEBE0;
    display: flex;
    text-align: center;
}

.homeintro {
    padding-top: 20px;
    display: flex;
    text-align: center;
    font-size:xx-large;
}

.homeintro div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
}

.homeintro img {
    border-radius: 50%;
    border-style: solid;
    border-color: #EEEBE0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.projectdisplay {
    width: 100%;
    display: flex;
    padding-bottom: 20px;
}

.projectdisplay div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
}

.projectdisplay a {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.projectdisplay img {
    border-radius: 50%;
    border-style: solid;
    border-color: #EEEBE0;
    transition: border-radius 0.5s;
}

.projectdisplay img:hover {
    border-radius: 40%;
}