html {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0F0E11;
    color: #EEEBE0;
    text-align: center;
}

.homeintro {
    padding-top: 20px;
    display: flex;
    font-size: xx-large;
}

.homeintro div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.homeintro img {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("Website Visuals/MikeyAlley.jpg");
    border-radius: 50%;
    border-style: solid;
    border-color: #2D2C33;
    margin-left: auto;
    margin-right: auto;

    padding: 250px;

    transition: background-image 0.25s ease-in-out;
}

.homeintro img:hover {
    background-position: center;
    background-repeat:no-repeat;
    background-image: url("Website Visuals/MikeyBike.jpg");
}

#homebutton {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    border: none;
    border-radius: 15px;
    padding: 10px;
    background-color: #EEEBE0;

    min-height: 50px;


    transition: background-color 0.5s, transform 0.5s, color 0.5s;
}

#homebutton:hover {
    background-color: #BB3030;
    color:#EEEBE0;
    transform: scale(1.1);
    cursor: pointer;
}

.projectdisplay {
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    font-size: larger;
}

.projectdisplay div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
}

.projectdisplay img {
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border-style: solid;
    border-color: #2D2C33;
    max-width: 50%;
    height: 100%;
    padding: 250px;

    background-image: url("Website Visuals/Itch-Page.png");
    transition: background-image 0.5s;

}

.projectdisplay img:hover {
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    background-image: url("Website Visuals/Farmers-Apocalypse-1.png");
}

.homeintro h1 {
    pointer-events: none;
}

.homeintro p {
    pointer-events: none;
}

.projectdisplay h2 {
    pointer-events: none;
}

.projectdisplay p {
    pointer-events: none;
}

.gallery {
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows: repeat(5, 5vw);
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(#0F0E11, #2D2C33, #0F0E11);
}

.gallery_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-style: solid;
    border-radius: 25px;
    border-color: #0F0E11;

    transition: border-color 0.5s, transform 0.5s;
}

.gallery_img:hover {
    border-color: #EEEBE0;
    transform: scale(1.1);
}

.gallary__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
} 
.gallary__item--2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
}
.gallary__item--3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 8;
}
.gallary__item--4 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallary__item--5 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 7;
}

@media screen and (max-width: 800px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
        text-align: center;
    }
    body {
        position: relative;
    }
    .homeintro {
        display: block;
        margin: auto;
        text-align: center;
    }

    .homeintro div {
        max-width: 90%;
    }

    .homeintro img {
        pointer-events: none;
        transform: scale(0.8);
        margin: auto;
    }

    .projectdisplay {
        display: block;
        -webkit-transform:  rotate(180deg);
        transform:  rotate(180deg);
        text-align: center;
    }

    .projectdisplay div {
        max-width: 90%;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        margin-bottom: 25px;
    }

    .projectdisplay img {
        /* pointer-events: none; */
        -webkit-transform: scale(0.8) rotate(180);
        transform: scale(0.8) rotate(0.5turn);
        margin: auto;
    }

    .projectdisplay button {
        margin-bottom: 25px;
    }

    .gallery {
        max-width: 100%;
        display: inline-block;
        grid-template-columns: unset;
        grid-template-rows: unset;
        background-image: linear-gradient(#0F0E11, #0F0E11);
    }
}