html {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0F0E11;
    color: #EEEBE0;
    display: flex;
    text-align: center;
}

.homeintro {
    padding-top: 20px;
    display: flex;
    text-align: center;
}

.homeintro div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.homeintro img {
    border-radius: 50%;
    border-style: solid;
    border-color: #EEEBE0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.projectdisplay {
    width: 100%;
    display: flex;
}

.projectdisplay div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}

.projectdisplay img {
    border-radius: 50%;
    border-style: solid;
    border-color: #EEEBE0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}