html {
    background-color: #0F0E11;
    color: #EEEBE0;
    font-family:'Courier New', Courier, monospace;
}

.portfolio {
    display: grid;
    row-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

.portfolio img {
    width: 75%;
    max-height: 75%;
    border-style: solid;
    border-color: #2D2C33;
    border-radius: 25px;
    margin-top: auto;
    margin-bottom: auto;

    transition: border-color 0.5s, transform 0.5s;
}

.portfolio img:hover {
    border-color: #EEEBE0;
    transform: scale(1.05);
}

.portfolio h2 {
    text-align: left;
    margin-left: 15%;
    margin-right: auto;
}

.portfolio a {
    text-decoration: none;
}

.portfolio a h2 {
    color: #EEEBE0;
    transition: color 0.5s;
}

.portfolio a h2:hover {
    color: #BB3030;
}

#description {
    pointer-events: none;
    max-width: 80%;
    margin-left: 3%;
}

@media screen and  (max-width: 800px) {
    .portfolio {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and  (max-width: 500px) {
    .portfolio {
        grid-template-columns: repeat(1, 1fr);
    }
}